<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"  href="../public/main.css" ></head>
    <title>Docker on Bluemix</title>
</head>
<body>

<div id="container">

    <h1>Hello from the other side </h1>

</div>
<div class="process">
    <h2>I'm number <%= processID %></h2>
</div>
</body>
</html>